<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leaderboard</title>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
   <style>
    table {
      font-size: 22px;
    }
    td, th {
      width: 200px;
      padding: 10px;
      border: 1px solid #e5e5e5;
    }
    tr {
      margin: 10px;
    }
    th {
      padding: 5px;
    }
  </style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="#">Leaderboard</a>
        </div>
        
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
      <table style="text-align: center; margin: auto auto">
        <tr>
          <th>Position</th>
          <th>Username</th>
          <th>Name</th>
          <th>Total Score</th>
        </tr>
      	{% for (idx, s) in scores %}
          <tr>
            <td>{{idx + 1}}</td>
            <td>{{s['username']}}</td>
            <td>{{s['name']}}</td>
            <td>{{s['score']}}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
     </div>
</body>
</html>